@page
@model LojaManga.Pages.Livros.DetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Detalhes do Mangá";
}

<head>
    <link rel="icon" type="image/x-icon" href="/imagens/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
    <style>
        .form-columns {
            display: flex;
            justify-content: space-between;
        }

        .column {
            flex: 1;
            margin-right: 20px;
        }

        .centered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            color: #333;
            text-align: center;
            margin-bottom: 25px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        .form-control {
            width: 100%;
            margin-bottom: 10px;
        }

        .input-largura-40 {
            width: 100%;
        }

        .btn-secondary {
            width: 100%;
            margin-top: 10px;
            color: #000;
            border-radius: 10px;
            border-color: #808F87;
            background-color: #808F87;
        }

            .btn-secondary:hover,
        .btn-secondary:focus {
                background-color: #606C66;
                border-color: #606C66;
            }


        .footer {
            position: relative;
            margin-top: 45px;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Detalhes dos Mangás</h2>

    <form class="centered" method="post">
        <input type="hidden" asp-for="Manga.Codl" />

        <div class="form-group">
            <label asp-for="Manga.Titulo">Título do Mangá</label>
            <input asp-for="Manga.Titulo" class="form-control input-largura-40" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Manga.Edicao">Edição do Mangá</label>
            <input asp-for="Manga.Edicao" class="form-control input-largura-4" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Manga.Valor">Valor do Mangá (R$)</label>
            <input asp-for="Manga.Valor" class="form-control input-largura-4" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Manga.Editora">Editora do Mangá</label>
            <input asp-for="Manga.Editora" class="form-control input-largura-40" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Manga.AnoPublicacao">Ano de Publicação do Mangá</label>
            <input asp-for="Manga.AnoPublicacao" class="form-control input-largura-4" readonly />
        </div>

        <div class="form-group">
            <label for="Autores">Autor(es) do Mangá</label>
            <ul>
                @foreach (var autor in Model.Manga.Autores)
                {
                    <li>@autor.Autor.Nome</li>
                }
            </ul>
        </div>

        <div class="form-group">
            <label asp-for="Manga.Assunto">Gênero(s) do Mangá</label>
            <input asp-for="Manga.Assunto.Descricao" class="form-control input-largura-40" readonly />
        </div>

        <a asp-page="./Index" class="btn btn-secondary btn-lg btn-block">Voltar</a>
    </form>
</body>